body {
    background-image: url("img1.3.jpg");
}

table {
    margin: auto;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: hidden;
    border-top: hidden;
}

th    {height: 10px;
    width: 30px;
    background-color: rgba(0,128,0,0.18);
    color: white;
    text-align: center;
    font-weight: bold;
    border: 1px solid gray;
}

td    {height: 10px;
    width: 30px;
    color: gray;
    border: 1px solid gray;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    border-bottom: 2px solid gray;
    padding: 15px;
    text-align: left;
    vertical-align: center;
}
td.white {
    color: blue;
    background-color: white;
};
